<div class="hero">
  <%- partial("_logo") %>
  <p class="description">SCAN is a set of instruments and manuals aimed at assessing, measuring and classifying psychopathology and behaviour associated with the major psychiatric disorders in adult life.</p>
</div>
<div class="download">
  <h3 class="headline-dl">Download<small class="version">v0.1.5</small></h3>
  <a href="https://github.com/FunkLid/SCAN-app/releases/download/v0.1.5/SCAN-Setup-0.1.5.exe" class="btn btn-dl dl-windows">Windows <small>7+</small></a>
  <a href="https://github.com/FunkLid/SCAN-app/releases/download/v0.1.5/SCAN-0.1.5.dmg" class="btn btn-dl dl-macos">macOS <small>10.8+</small></a>
</div>
